doctype
html
	head
		title Future Imperfect
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel="stylesheet" href="css/main.css")
	body
		div#contenedor.container-fluid
			section#sidebar.text-center.row
				section#intro.col-md-12.col-xs-12
					a.logo(href="#")
						div.hexagono.um
							div.imagem1
								div.imagem2
					header
						h2 Future Imperfect
						p Another fine responsive site template by
							a(href="#") HTML5 UP
			header#header
				h1: a(href="#") Future Imperfect
				nav.links
					ul
						li: a(href="#") Home
						li: a(href="#") About us
						li: a(href="#") Services
						li: a(href="#") Galleries
						li: a(href="#") Contact
				nav.main
					ul
						li.search 
							a(href="#search")
								i.fa.fa-search			
			div#main.row
				article.post.col-md-12.col-xs-12
					header.row.head-r
						div.title.col-md-9
							h2: a(href="#") Magna sed adipiscing
							p Lorem ipsum dolor amet nullam consequat etiam feugiat
						div.meta.col-md-3.text-right
							time.published(datetime="2015-11-01") November 1, 2015
							a.author(href="#")
								span.name Jane Doe
								img(src="../images/avatar.jpg" alt="" )
					div.row.padd
						a.image(href="#")
							img(src="../images/pic01.jpg" alt="")
						p Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at. Phasellus sed ultricies mi non congue ullam corper. Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.
					footer.row.padd
						ul.actions
							li: a.button.big(href="#") Continue Reading
						ul.stats
							li: a(href="#") General
							li: a.icon(href="#")
								i.fa.fa-heart 28 
							li: a.icon(href="#") 
								i.fa.fa-comment 128 
			ul.actions.pagination.row
				li: a.disabled.button.big.previous(href="#") Previous page
				li: a.button.big.next(href="#") Next page

